@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Kode+Mono:wght@400..700&display=swap");

* {
  margin: 0;
  font-family: "Kode Mono", monospace;

  font-style: normal;
}

body {
  position: relative;
  background-color: rgb(28, 28, 233);
}
